<h1>Produkt: {{ Produkt.name }}</h1>
<h2>Opis: {{ Produkt.description }}</h2>
<h2>Kategoria: {{ Produkt.category }}</h2>

<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
  <label for="name">Name</label>
  <input 
    type="text" 
    name="name" 
    required
    [placeholder]="customPlaceholder"
    [(ngModel)]="Produkt.name"
    #name="ngModel">
  <div class="error" *ngIf="!name.valid && name.touched">Pole wymagane!</div>

  <br/><br/>

  <label for="description">Opis</label>
  <input 
    type="text" 
    name="description" 
    [placeholder]="customPlaceholder"
    [(ngModel)]="Produkt.description"
    #description="ngModel">
  <div class="error" *ngIf="!description.valid">Pole wymagane!</div>

  <br/><br/>


  <label for="category">Categories</label>
  <select name="category" [(ngModel)]="Produkt.category" #category="ngModel">
    <option 
      *ngFor="let category of categories" 
      [value]="category.id">
      {{ category.name }}
    </option>
  </select>
  <div class="error" *ngIf="!category.valid">Pole wymagane!</div>

  <br/><br/>

  <div>
    <pre>{{ productForm.value | json }}</pre>
  </div>

  <button [disabled]="!productForm.valid"> Zapisz </button>
  <br/><br/>
  <button type="button" (click)="productForm.reset()"> Reset </button>
</form>